body {
	background-color: #f4f4f4;
	font-family: source-sans-pro, sans-serif;
}

.titleBarContainer {
	width: 100%;
	height: 10%;
	font-size: 40;
	font-weight: bold;
	color: purple;
}

.contentContainer {
	margin-left: 15%;
}

.queryStatement {
	color: #1000BB;
}

:focus {
	outline-color: transparent;
	outline-style: none;
}

.title {
	letter-spacing: -.065em;
}

.topcoat-button-bar__item > input {
	border: 0;
	clip: rect(0 0 0 0);
	height: 2rem;
	margin: 0 -2rem -2rem 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: auto;
	opacity: 0.001;
}

.topcoat-button-bar__item {
	display: table-cell;
	width: auto;
	border-radius: 0;
}

.topcoat-button-bar > .topcoat-button-bar__item:first-child {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

.topcoat-button-bar > .topcoat-button-bar__item:last-child {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

.button,
.topcoat-button-bar__button {
	position: relative;
	display: inline-block;
	overflow: hidden;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
	color: inherit;
	vertical-align: top;
	white-space: nowrap;
	font: inherit;
	cursor: default;
	user-select: none;
	width: 150px;
	height: 75px;
}

.topcoat-button-bar__button {
	padding: 0 1.25rem;
	border: 1px solid #a5a8a8;
	/* Important inheritance to manipulate border radius from parent */
	border-radius: inherit;
	background-color: #e5e9e8;
	-webkit-box-shadow: inset 0 1px #fff;
	box-shadow: inset 0 1px #fff;
	color: #454545;
	line-height: 3rem;
}

.topcoat-button-bar__button:focus {
	background-color:#BFBDBD;
	color: white;
	-webkit-box-shadow: none;
	box-shadow: none;
}
